<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>My Peeps</title>
	</head>
	<body>
		<ul>
			{{range .}}
			<li>{{.}}</li>{{else}}
			<li>No Items</li>
			{{end}}
		</ul>
	</body>
</html>